html {
    background-color: rgb(94, 113, 90, 0.85) !important;
}

#title {
    color: white !important;
}

/* ROOT - CHANGE LATER */
:root {
    --button-color: rgba(62, 72, 60, 0.9);
    --button-outline: rgba(83, 96, 80, 0.9);
}

.row {
    margin-right: 0 !important;
}

/* button info */
.progress-bar,
a.btn.btn-primary.btn-md.navCTA {
    --bs-btn-border-color: color: rgba(71, 65, 65, 0.9) !important;
    --bs-btn-bg: var(--button-color) !important;
    background-color: var(--button-color) !important;
    color: whitesmoke !important;
    --bs-btn-bg: var(--button-color) !important;
}

.btn-primary {
    --bs-btn-bg: var(--button-color) !important;
    --bs-btn-border-color: var(--button-outline) !important;
}

.btn:hover {
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.6) !important;
    --bs-btn-hover-border-color: var(--button-outline) !important;
}

/* Text */
p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-font-sans-serif);
    color: white !important;
}

h2,
h3 {
    margin-top: 25px;
}

h5 {
    margin-bottom: 30px;
}

/* Navigation bar */

/* General */

.container-fluid {
    --bs-gutter-x: none !important;
}

.navbar-brand {
    --bs-navbar-brand-font-size: 32px !important;
}

.navbar-toggler {
    background-color: rgb(79, 93, 77) !important;
}

.customNav {
    position: fixed;
    width: 100%;
    background: rgb(92,112,90);
    opacity: 0.9;
    /* background-color: transparent !important; */
    /* background-size: cover; */
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    margin: 0px 15px;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

/* Navigation dropdown menu */
.dropdown-menu {
    background: rgb(77, 88, 75) !important;
}


.dropdown-item:focus,
.dropdown-item:hover {
    color: #e6d7ff;
    text-decoration: none;
}

/* Navigation links */
.customNav a:link,
.customNav a:visited,
.customNav a:active {
    color: white;
    background-color: transparent !important;
}

.nav-link.active,
.nav-link.show {
    color: white !important;
}

.customNav a:hover {
    color: rgb(0, 0, 0);
}

.nav-link {

    &.active,
    &.show {
        color: black;
    }
}

.navCTA {
    font-size: 30px;
}

/* Jumbotron  */
.img-fluid {
    max-width: 12rem;
    max-height: 10rem;
    margin-right: 15px;
}

.d-flex {
    align-items: flex-start !important;
    justify-content: center;
}

.ldnBackground {
    background-image: url(/public/images/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

/* Jumbotron copy */
.jumboCopy {
    /* min-width: 600px;
    max-width: 800px; */
    color: white;
    text-align: center;
    align-items: stretch !important;
    padding-top: 30px !important;
}

/* Cards */
.content {
    padding: 20px 10px 20px 10px;
}

.sectionHeading {
    text-align: center;
    color: hsla(203, 91%, 26%);
    font-size: 32px;
}

#myProjects {
    padding: 120px 15px 50px 15px;
    row-gap: 20px;
    background: rgb(156,169,154) !important;
}

#myProjects img {
    border-radius: 15px;
    opacity: 0.9;
}

.cardContainer {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-around;
}

#skill-section {
    padding: 150px 90px 150px 90px;
    text-align: left;
}

.section,
.card {
    background: rgb(156,169,154);
}

.card {
    margin: 0 auto;
    --bs-card-border-color: none !important;
    color: hsla(203, 91%, 26%);
}

.imageContainer img {
    width: 100%;
}

.imageContainer {
    padding: 50px;
}

.list-group {
    --bs-list-group-border-color: none !important;
    --bs-list-group-bg: none !important;
    --bs-list-group-bg: rgb(94, 113, 90, 0.85);
    /* --bs-list-group-bg: rgb(156,169,154); */
    /* the skills background */
    font-size: 25px;
}

.list-group-item {
    color: white !important;
}


/* Contact */

#contact {
    padding: 200px 90px 200px 90px;
}

.contact-section {
    --bs-card-border-color: none !important;
    background: rgb(156,169,154);
}


.contact-section .card {
    border: 0;
    border-bottom: 0.3rem hsla(203, 91%, 26%);
}


.contact-section a:link {
    color: rgb(68, 78, 66);
}

.contact-section a {
    text-decoration: none !important;
}

/* EDIT BELOW FROM TRAVEL CALI */

.contact-section .card hr {
    border-color: whitesmoke;
    border-width: 0.3rem;
    ;
}

/* Footer */


/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
    left: -97px;
}

footer {
    margin-top: 0;
    padding: 15px 0 5px 0;
    text-align: center;
    /* color: rgba(255, 255, 255, 0.3); */
    color: whitesmoke;
    background-color: rgb(94, 113, 90, 0.85) !important;
}

/* SOCIALS SECTION */

.social {
    padding: 20px 0 20px 0;
    background: rgb(94, 113, 90, 0.85) !important;

}

.social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgb(94, 113, 90, 0.5) !important;
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.8) !important;
}

.social a:hover {
    transition-duration: 0.3s;
    color: rgba(71, 65, 65, 0.9) !important;
}

.social a:active {
    color: #fff !important;
}

div.my-4 {
    color: white !important;
}